# Naima Mukhtar (FA25-BBD-160)

# Question no 1
#Write a for loop to print all even numbers from 2 to 20.

In [1]:
for num in range(1,21):
    if num%2==0:
        print(num)

2
4
6
8
10
12
14
16
18
20

# Question no 2
#Create a list of names and use a for loop to print each name in uppercase

In [2]:
names=['aima','alina','fatima','zoha','raima']
for name in names:
    print(name.upper())

AIMA
ALINA
FATIMA
ZOHA
RAIMA

# Question no 3
#Use a for loop with range() to print numbers from 10 to 1 in reverse order.

In [3]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

# Question no 4
#Iterate through a list of integers and print only the numbers that are divisible by 3.

In [4]:
numbers=[1,3,5,7,9,11,13,15,17,19,21,23,25,27,30]
for num in numbers:
    if num % 3==0:
        print(num)

3
9
15
21
27
30

# Question no 5
#Write a loop that prints the squares of numbers from 1 to 10.

In [5]:
for num in range(1,11):
    square= num**2
    print(square)

1
4
9
16
25
36
49
64
81
100

# Question no 6
#Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.

In [6]:
celsius=[39,45,47,53,56]
for temp in celsius:
    fahrenheit=temp*9/5+32
    print(f"{temp}\u00B0C = {fahrenheit}\u00B0F")

39°C = 102.2°F
45°C = 113.0°F
47°C = 116.6°F
53°C = 127.4°F
56°C = 132.8°F

# Question no 7
#Create a for loop that prints the multiplication table of 5.

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for number in numbers:
    num = number*5
    print(f"5 * {number} = {num}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

# Question no 8
#Write a program to find the sum of all numbers in a list using a for loop.

In [8]:
numbers=[8,15,24,27,32]
total=0
for num in numbers:
    total+=num
print("The sum of all numbers in a list is :",total)

The sum of all numbers in a list is : 106

# Question no 9
#Use a for loop to iterate through a string and print each character separately.

In [9]:
word= 'interpreter'
for ch in word:
    print(ch)

i
n
t
e
r
p
r
e
t
e
r

# Question no 10
#Create a list of words and use a for loop to print only the words with more than 5 letters.

In [10]:
words=['bag','vedio games','tissue','cloud','fruits','ball']
for name in words:
    if len(name) > 5:
        print(name)

vedio games
tissue
fruits